version: '3.7'
services:
  linux:
    # Linux Container
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    expose:
      - 8080
    image: bradbarnhill/barcode-api