server:
  port: 8080
  http2:
    enabled: true
  compression:
    enabled: true
    min-response-size: 2048
    mime-types: application/hal+json,application/json,application/xml,text/html,text/xml,text/plain,image/png,image/jpeg,image/gif
  servlet:
    session:
      timeout: 10s
  error:
    whitelabel:
      enabled: false
